body {
  background-color: #ddc3a5;
  color: #201e20;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  border: solid #201e20 2px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#buttons {
  text-align: center;
}

button {
  width: 190px;
  height: 85px;
  background-color: #e0a96d;
  border-radius: 20px;
  font-size: 18px;
  border: solid 1px #201e20;
  font-family: inherit;
  vertical-align: top;
}

#button1 {
  margin-right: 8px;
}

#button1:hover {
  background-color: #ddc3a5;
}

#button2 {
  margin-left: 4px;
  margin-right: 4px;
}

#button2:hover {
  background-color: #ddc3a5;
}

#button3 {
  margin-left: 8px;
}

#button3:hover {
  background-color: #ddc3a5;
}

#button4:hover {
  background-color: #ddc3a5;
}

#removeTranslations:hover {
  background-color: #ddc3a5;
}

h1 {
  text-align: center;
  padding-top: 20px;
}

.form {
  border: solid 1px #201e20;
  width: 85%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #ecd9c3;
}

.form_contents {
  padding: 20px;
  margin-left: 10px;
}

.footer {
  margin-left: 7.5%;
}

input[type="text"] {
  width: 200px;
  font-size: 16px;
  font-family: inherit;
}

input[type="email"] {
  width: 300px;
  font-size: 16px;
  font-family: inherit;
}

textarea {
  font-size: 16px;
  width: 95%;
  font-family: inherit;
}

input[type="reset"],
input[type="submit"] {
  width: 100px;
  height: 35px;
  background-color: #e0a96d;
  border-radius: 15px;
  font-size: 16px;
  border: solid 1px #201e20;
  margin: 5px;
  font-family: inherit;
}

select {
  font-size: 16px;
  font-family: inherit;
}

#getTranslations {
  width: 220px;
}

table {
  border: 2px solid #201e20;
}

th,
td {
  padding: 10px;
}

.allcontent {
  margin-top: 20px;
  padding-top: 20px;
  margin-left: 7.5%;
}

#removeTranslations {
  width: 240px;
}

p {
  text-align: center;
}

#translated_text {
  border: solid 1px #201e20;
  width: 85%;
  background-color: #ecd9c3;
  padding: 15px;
}
