<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Translator</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Welcome to the Fun Translator App!</h1>

    <img src="/translate.jpeg" alt="keyboard with translation button">

    <br><br>

    <div id="buttons">
        <a href="/translate"><button id="button1">Translate</button></a>
        <a href="/translationsByEmailOrName"><button id="button2">Review</button></a>
        <a href="/removeTranslations"><button id="button3">Remove</button></a>
    </div>
    

    <!-- <ul>
        <li>To start a new translation: <a href="/translate">Translate</a></li>
        <li>To see your previous translation by email: <a href="/translationsByEmail">Review Translations by Email</a></li>
    </ul> -->
	<!-- <hr> -->
</body>

</html>
