<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Translator</title>
</head>

<body>
	<h1>Welcome to the Fun Translator App!</h1>

    <ul>
        <li>To start a new translation: <a href="/translate">Translate</a></li>
        <li>To see your previous translation by email: <a href="/translationsByEmail">Review Translations by Email</a></li>
    </ul>
	<hr>
</body>

</html>
