<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Translations by Email or Name</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="allcontent">
        Deleted all translations for <strong><%- type %></strong>
    </div>
</body>
<br>
<a class="footer" href="/">HOME</a>

</html>