<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Translations by Email</title>
</head>

<body>
    <strong>All translations for </strong><%- email %>
    <br>
    <%- translations %>
</body>
<a href="/">HOME</a>
</html>