<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Get Translations</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Get Translations By Email or Name</h1>
    <form class="form" action="http://localhost:5050/getTranslationsByEmailOrName" method="post">
        <div class="form_contents">
            <strong>Name: </strong><input type="text" name="name">
            <br><br>
            <strong>Email Address: </strong><input type="email" name="email">
            <br><br>
            <input id="button4" type="reset" />
            <input id="getTranslations" type="submit" value="Get Translations by Name" name="getTranslationsType"/>
            <input id="getTranslations" type="submit" value="Get Translations by Email" name="getTranslationsType"/>
        </div>
    </form>
    <br>
    <a class="footer" href="/">Back to Home</a>
</body>

</html>