<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Get Translations</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Get Translations By Email</h1>
    <form action="http://localhost:5050/getTranslationsByEmail" method="post">
        <fieldset>
            Name: <input type="text" name="name">
            Email Address: <input type="email" name="email">
        </fieldset>
        <input type="reset" />
        <input type="submit" value="Get Translations" />
    </form>
    <hr>
    <a href="/">Back to Home</a>
</body>

</html>